.TALabel {
  height: 23px;
  width: 460px;
  font-size: 16px;
  line-height: 22.4px;
  color: #6f7482;
}

.TADiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TAInput {
  width: 460px;
  height: 139px;
  padding: 12px;
  font-size: 16px;
  line-height: 22.8px;
  border-radius: 4px;
  font-family: "IBM Plex Sans", sans-serif;
  border-style: none;

  /* top: 25px; */
}
